<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Árboles de Decisión - ICC608</title>
    <link rel="stylesheet" href="/css/styles_tree.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<!-- Logo centrado fuera del recuadro -->
<div class="logo-container">
    <img src="/icons/arbol-de-graficos.png" alt="Ícono árbol de decisión">
</div>
<main>
    <div class="content-box">

        <section class="intro-section">
            <h2>¿Qué son los árboles de decisiones?</h2>
            <p>
                Es un método de aprendizaje <u><strong>supervisado no paramétrico</strong></u> utilizado para tareas tanto de <strong>clasificación</strong>
                (proceso de categorizar un conjunto de datos en clases) como de <strong>regresión</strong> (técnica de aprendizaje que
                ayuda a encontrar la correlación entre variables y así predecir una variable de salida en función de una o más variables).
            </p>
            <div class="centered-image">
                <img src="/images/DecisionTree.drawio(1).png" alt="Ejemplo árbol jugar tenis">
            </div>
        </section>

        <hr class="section-divider">

        <section class="componentes">
            <h3>Componentes clave</h3>
            <p>Este algoritmo de aprendizaje utiliza una estructura jerárquica de árbol (de ahí el nombre), la cuál está construida con los siguientes componentes:</p>
            <ul class="component-list">
                <li><span class="tag bloque">Nodo raíz →</span> Corresponde al punto de partida de un árbol, y define una pregunta que contiene la mejor característica para dividir un conjunto de datos.</li>
                <li><span class="tag bloque">Nodo de decisión →</span> Punto donde el árbol hace una pregunta sobre un atributo o característica en específico.</li>
                <li><span class="tag bloque">Rama →</span> Corresponde a las conexiones entre los nodos. Representan el resultado de una decisión.</li>
                <li><span class="tag bloque">Hoja →</span> Es el final de un árbol. Representa la predicción final (clase o valor) de un árbol.</li>
            </ul>
        </section>

        <hr class="section-divider">

        <section class="objetivo">
            <h3>Objetivo</h3>
            <div class="objetivo-content">
                <p>
                    Su objetivo principal es crear un modelo que sea capaz de <strong>predecir el valor</strong> de una variable objetivo a través del
                    aprendizaje de decisiones simples, deducidas en base a las características de un <strong>conjunto de datos</strong>. Su estructura en forma
                    de diagrama de flujo simula una representación de la toma de decisiones en una organización, facilitando el entendimiento de las razones
                    detrás de una decisión.
                </p>
                <img src="/icons/arbol-de-graficos.png" alt="Icono árbol objetivo" class="objetivo-icono">
            </div>
        </section>
    </div>

    <div class="content-box">
        <section class="interactivo">
            <h3>¡Pruébalo tú mismo!</h3>
            <p>
                Imagina que trabajas en un banco y tu tarea es evaluar solicitudes de crédito. Cada día recibes información clave de los postulantes: nivel de ingresos, historial de pago, edad, entre otros datos importantes.
                Usando esta herramienta, te pondrás en el rol del evaluador que, paso a paso, deberá tomar decisiones basadas en criterios predefinidos.
                Explora cómo pequeños cambios en los datos pueden llevar a distintas decisiones, y aprende de forma visual y sencilla cómo funciona este poderoso algoritmo.
                <strong>¡Es tu turno de decidir!</strong>
            </p>
        </section>
    </div>

    <div class="content-box-padre">
        <div class="content-box-medium">
            <h3>Parámetros de entrada</h3>

            <div class="input-group">
                <label><strong>Monto del crédito solicitado</strong></label>
                <div class="slider-container">
                    <span class="slider-value" id="creditAmountValue">$ 580.750</span>
                    <input type="range" min="100000" max="100000000" value="580750" class="slider" id="creditAmountSlider">
                    <div class="slider-labels">
                        <span>$ 100.000</span>
                        <span>$ 100.000.000</span>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label><strong>Duración en el trabajo actual</strong></label>
                <div class="slider-container">
                    <span class="slider-value" id="jobDurationValue">3 años 2 meses</span>
                    <input type="range" min="1" max="60" value="38" class="slider" id="jobDurationSlider">
                    <div class="slider-labels">
                        <span>1 mes</span>
                        <span>5 años</span>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label><strong>Ingresos del último mes</strong></label>
                <div class="slider-container">
                    <span class="slider-value" id="incomeValue">$ 2.500.000</span>
                    <input type="range" min="529000" max="10000000" value="2500000" class="slider" id="incomeSlider">
                    <div class="slider-labels">
                        <span>$ 529.000</span>
                        <span>$ 10.000.000</span>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label><strong>¿Registra historial de morosidad?</strong></label>
                <div class="button-group">
                    <button class="debt-history-btn active" id="btnYes">Sí</button>
                    <button class="debt-history-btn" id="btnNo">No</button>
                </div>
            </div>

            <button class="submit-button" id="submitBtn">¡Ingresar datos!</button>
        </div>

        <div class="content-box-medium-2">
            <div id="decision-tree">
                <div class="node" id="node1">¿Tiene historial de morosidad?</div>

                <div class="child">
                    <div class="node" id="node2">¿Ingresos > Monto crédito?</div>

                    <div class="child">
                        <div class="node" id="node3">¿Antigüedad laboral ≥ 24 meses?</div>

                        <div class="child">
                            <div class="node" id="node4">¿Crédito ≤ 40% de ingresos anuales?</div>

                            <div class="child">
                                <div class="leaf approved" id="node5">✅ Aprobado</div>
                                <div class="leaf rejected" id="node5r">❌ Rechazado</div>
                            </div>
                        </div>

                        <div class="leaf rejected" id="node3r">❌ Rechazado</div>
                    </div>

                    <div class="leaf rejected" id="node2r">❌ Rechazado</div>
                </div>

                <div class="leaf rejected" id="node1r">❌ Rechazado</div>
            </div>

        </div>

    </div>

    <script src="/js/main_tree.js"></script>
</main>
</body>
</html>
